header {
  background-color: rgba(56, 56, 56, 0.0);
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: black;
  border-radius: 0px;
  max-height: 320px;
}

.HPic {
  margin: -55px 0px -4px 0px;
  max-height: 400px;
  max-width: 500px;
  border-bottom-right-radius: 0px;
  display: block;
  float: right;
}

.Ticons {
  max-width: 80px;
  max-height: 80px;
  padding-left: 20px;
}

.Ficons {
  max-width: 80px;
  max-height: 80px;
  padding-left: 20px;
}

.Licons {
  max-width: 80px;
  max-height: 80px;
  padding-left: 20px;
}

.Eicon {
  max-width: 80px;
  max-height: 80px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

body {
  background: no-repeat center center fixed;
  background-image: url(http://pre06.deviantart.net/ee62/th/pre/f/2012/340/a/2/light_hex_texture_by_fantomkilla-d5n8ut9.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-image: url(http://pre06.deviantart.net/ee62/th/pre/f/2012/340/a/2/light_hex_texture_by_fantomkilla-d5n8ut9.jpg);
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.border {
  border-bottom-width: 100px;
  border-bottom-color: background-color: rgba(56, 56, 56, 0.7);

}

#contact {
  padding-top: 60px;
  padding-bottom: 30px;
  height: 250px;
  background-color: black;
  color: #BEBEBE;
  text-align: center;
  font-family: Raleway;
}

.contact {
  padding: 17px 7px 18px 13px !important;
}

.projects {
  padding: 17px 6px 18px 14px !important;
}

.skills {
  padding: 17px 0px 18px 25px !important;
  width: 70px !important;
}

.profile {
  padding: 17px 0px 18px 20px !important;
}

#skills {
  height: 250px;
  background-color: #777777;
  color: black;
}

#profile {
  height: 180px;
  background-color: #BBBBBB;
  color: black;
}

.prof {
  text-align: center;
  font-family: Raleway;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  padding-top: 10px;
}

#row {
  display: block;
}

.title {
  text-align: center;
  font-family: Raleway;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 45px;
}

.name {
  float: right;
  font-family: Raleway;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-right: 80px;
  font-size: 30px;
  text-shadow: 4px 4px 3px black;
  font-weight: 800;
  color: #DDDDDD;
}

.myname {
  font-size: 50px;
  padding-left: 50px;
  margin-bottom: 0px;
}

.mytitle {
  padding-left: 90px;
}

#projects {
  height: 1000px;
  background-color: #444444;
  color: black;
}

h1, h3, h4 {
  font-weight: 500;
}

h4 {
  padding-left: 140px;
  padding-right: 140px;
}

.project1 {
  height: 250px;
  width: 475px;
  box-shadow: 5px 5px 10px black;
  margin-top: 50px;
  border-radius: 0px;
  padding-left: 0px;
  margin-left: 400px;
}

.project1 figure {
    margin:0;
    padding-left: 0px;
    position:relative;
    cursor:pointer;
    margin-left:-50px
    height: 250px;
    width: 475px;
}
.project1 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.project1 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.project1 figure p {
    font-family:'Raleway';
    color:#BEBEBE;
    font-size:18px;
    text-align:left;
}

a {
  text-decoration: none;
}

.project1 figure figcaption {
    top:0;
    left:0;
    height: 250px;
    width: 475px;
    padding:29px 44px;
    background-color:black;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project1 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project1 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.project1 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/*.p1info {
  width: 500px;
  float: right;
  margin-right: 120px;
  margin-top: 100px;
  font-size: 18px;
  font-family: Raleway;
}*/

.project2 {
  height: 250px;
  width: 475px;
  box-shadow: 5px 5px 10px black;
  margin-top: 55px;
  margin-left: 400px;
  border-radius: 0px;
  padding-left: 0px;
}

.project2 figure {
    margin:0;
    padding-left: 0px;
    position:relative;
    cursor:pointer;
    margin-left:-50px
    height: 250px;
    width: 475px;
}
.project2 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.project2 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.project2 figure p {
    font-family:'Raleway';
    color:#BEBEBE;
    font-size:16px;
    text-align:left;
}

.project2 figure figcaption {
    top:0;
    left:0;
    height: 250px;
    width: 475px;
    padding:15px 44px;
    background-color:black;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project2 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project2 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.project2 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/*.p2info {
  width: 500px;
  float: right;
  margin-right: 120px;
  margin-top: 73px;
  font-size: 18px;
  font-family: Raleway;
}*/

.project3 {
  height: 250px;
  width: 475px;
  box-shadow: 5px 5px 10px black;
  margin-top: 55px;
  margin-left: 400px;
  border-radius: 0px;
  padding-left: 0px;
}

.project3 figure {
    margin:0;
    padding-left: 0px;
    position:relative;
    cursor:pointer;
    margin-left:-50px
    height: 250px;
    width: 475px;
}
.project3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.project3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.project3 figure p {
    font-family:'Raleway';
    color:#BEBEBE;
    font-size:18px;
    text-align:left;
}

.project3 figure figcaption {
    top:0;
    left:0;
    height: 250px;
    width: 475px;
    padding:20px 44px;
    background-color:black;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.project3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.project3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/*.p3info {
  width: 500px;
  float: right;
  margin-right: 120px;
  margin-top: 93px;
  font-size: 18px;
  font-family: Raleway;
}*/

.nav {
  width: 100px;
  display: block;
  float: left;
  margin-top: 25px;
  position: fixed;
}

.nav >ul >li >a {
  text-decoration: none;
  color: black;
  font-family: Raleway;
  font-size: 20px;
}

.nav >ul >li {
  height: 20px;
  width: 75px;
  background-color: #DDDDDD;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-radius: 0px;
  box-shadow: 5px 5px 10px;
}

.list >li {
  padding: 10px;
  display: inline-block;
  font-family: Raleway;
}

.list {
  width: 950px;
  text-align: center;
  margin-left: 150px;
}
